@import '../abstracts/variables.scss';
.section{
    padding: 2rem 0 4rem ;
}
.section-title{
    font-size: $h1-font-size;
}
.section-sub-title{
    display: block;
    font-size: $small-font-size;
    margin-bottom: $mb-3;
}
.section-title,
.section-sub-title{
    text-align: center;
}