<body>
  <div>
    <p class="main-title">Skills</p>
    <p class="sub-title">My Technical levels</p>
  </div>
  <div class="skills-container">
    <div class="skills-options blue-ball-first">
      <div class="skill-title">
        <img src="../../../assets/brackets-curly.svg" alt="" />
        <p style="font-weight: 600;font-size: 1.2rem;">Frontend developer</p>
      </div>
      <div class="language-container">
        <div class="language">
          <p>Angular</p>
          <div class="progress-container">
            <div
              class="progress-bar"
              [ngStyle]="{ width: progress + '%' }"
            ></div>
          </div>
          <p>Typescript</p>
          <div class="progress-container">
            <div
              class="progress-bar"
              [ngStyle]="{ width: progressType + '%' }"
            ></div>
          </div>
          <p>Html</p>
          <div class="progress-container">
            <div
              class="progress-bar"
              [ngStyle]="{ width: progressHtml + '%' }"
            ></div>
          </div>
          <p>Sass</p>
          <div class="progress-container">
            <div
              class="progress-bar"
              [ngStyle]="{ width: progress + '%' }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="skills-options blue-ball-second">
      <div class="skill-title">
        <img src="../../../assets/server-network.svg" alt="" />
        <p>Backend developer</p>
      </div>
      <div class="language-container">
        <div class="language">
          <p>Spring Boot</p>
          <div class="progress-container">
            <div
              class="progress-bar"
              [ngStyle]="{ width: progressType + '%' }"
            ></div>
          </div>
          <p>Java</p>
          <div class="progress-container">
            <div
              class="progress-bar"
              [ngStyle]="{ width: progressType + '%' }"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
