body{
    display: grid;
    grid-template-areas:
                        "header-area"
                        "home";
    grid-template-rows: 10% 90%;
    align-items: center;
    // grid-template-areas:
    //                     "header-area header-area"
    //                     "home home"
    //                     "footer footer";
    // grid-template-rows: 10% 80% 10%;
    height: 100vh;
    
}
.header{
    grid-area: header-area;
}
.home{
    grid-area: home;
    display: flex;
    justify-content: center;
}
.footer{
    grid-area: footer;
}